<div class="btn-group">
  <a class="btn btn-default nav-first {{if firstDisabled 'disabled'}}" href={{make-rel pages.first}}>First</a>
  <a class="btn btn-default nav-prev {{if prevDisabled 'disabled'}}" href={{make-rel pages.prev}}>Previous</a>
  <a class="btn btn-default nav-next {{if nextDisabled 'disabled'}}" href={{make-rel pages.next}}>Next</a>
  <a class="btn btn-default nav-last {{if lastDisabled 'disabled'}}" href={{make-rel pages.last}}>Last</a>
</div>
